@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-solid-900.woff2') format('woff2'),
         url('../fonts/fa-solid-900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-regular-400.woff2') format('woff2'),
         url('../fonts/fa-regular-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-brands-400.woff2') format('woff2'),
         url('../fonts/fa-brands-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-v4compatibility.woff2') format('woff2'),
         url('../fonts/fa-v4compatibility.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}