{% load static %}
{% block content %}
<footer class="bg-primary text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Elite EAuction is your go-to platform for online auctions, connecting buyers and sellers seamlessly.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Auctions</a></li>
            <li><a href="#" class="text-white">Upcoming Auctions</a></li>
            <li><a href="#" class="text-white">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <hr class="bg-white">
      <div class="text-center">
        <p class="mb-0">© 2024 Elite EAuction. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
{% endblock content %}