{% load static %}
{% block content %}
<header class="sticky-top bg-light">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-lg">
      <img src="{% static 'eauction/img/logo.svg' %}" alt="Logo" width="50" height="50" class="me-3">
      <!-- Adjust the size as needed -->
      <a class="navbar-brand" href="/">Elite EAuction</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'auction-list' %}">Auctions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sell-items' %}">Sell items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'watch-list' %}">Watch list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'category' %}">Categories</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-5">
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </li>
          <li class="nav-item"></li>
            <a class="nav-link" href="#">Login / Register</a> 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-regular fa-user"></i> <!-- Font Awesome profile icon -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endblock content %}